
<ng-sidebar-container>

    <ng-sidebar [(opened)]="opened" [mode]="'push'" >
        
        <h3>Side-Bar..</h3>
        <ul class="menu">
            <br>
           
            <li> 
                <button type="button" class="btn btn-outline-secondary" routerLinkActive="active" 
                   routerLink="/welcome">Welcome home</button>
            </li>
            <li> 
                <button type="button" class="btn btn-outline-secondary mt-3" routerLinkActive="active"
                    routerLink="/add-employee">Add Employee</button> 
            </li>
            <li> 
                <button type="button" class="btn btn-outline-secondary mt-3" routerLinkActive="active"
                    routerLink="/employee-list">Employee List</button> 
            </li>
            <li> 
                <button type="button" class="btn btn-outline-secondary mt-3" routerLinkActive="active"
                    routerLink="/add-department">Add Department</button> 
            </li>
            <li> 
                <button type="button" class="btn btn-outline-secondary mt-3" routerLinkActive="active"
                    routerLink="/department-list">Department List</button>
            </li>
        </ul>
    </ng-sidebar>

</ng-sidebar-container>