<p class="margin-p">hello</p>
<div class="row row-cols-1 row-cols-md-3 g-4 margin">
    <div class="col">
      <div class="card h-100">
        <img src="assets/rashmi-img.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rashmi Singh</h5>
          <p class="card-text">A special thanks to my colleague Rashmi for guiding me through out the project & helping / available whenever required.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Software Engineer | Creative Tribe</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/arun-img.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arun Gupta</h5>
          <p class="card-text">A special thanks to my colleague Arun for guiding me through out the project and making the path / reqirements clear & understandable
            
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Senior Software Engineer | Creative Tribe</small>
        </div>
      </div>
    </div>
    
  </div>
